# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [102]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [103]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [104]:
func = lambda x: float(x[1:-1])
chipo["item_price"] = chipo["item_price"].apply(func)

In [105]:
chipo = chipo.drop_duplicates(subset="item_name")
newchipo = chipo[chipo["item_price"]>10.0]
newchipo

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [106]:
newchipo = chipo[["item_name","item_price"]]
newchipo = newchipo.sort_values("item_price",ascending=False)
newchipo

                                  item_name  item_price
281                        Steak Salad Bowl       23.78
445                                    Bowl       22.20
4                              Chicken Bowl       16.98
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
39                            Barbacoa Bowl       11.75
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
250                           Chicken Salad       10.98
92                       Steak Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
8                          Steak Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
54                               Steak Bowl        8.99
664                             Steak Salad        8.99
3750                         Carnitas Salad        8.99
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
21                         Barbacoa Burrito        8.99
44                       Chicken Salad Bowl        8.75
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1653                    Veggie Crispy Tacos        8.49
1414                                  Salad        7.40
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
18                              Canned Soda        2.18
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [92]:
newchipo.sort_values("item_name")

                                  item_name  item_price
298                       6 Pack Soft Drink        6.49
39                            Barbacoa Bowl       11.75
21                         Barbacoa Burrito        8.99
168                   Barbacoa Crispy Tacos       11.75
1229                    Barbacoa Salad Bowl       11.89
56                      Barbacoa Soft Tacos        9.25
34                            Bottled Water        1.09
445                                    Bowl        7.40
510                                 Burrito        7.40
18                              Canned Soda        1.09
263                       Canned Soft Drink        1.25
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
554                   Carnitas Crispy Tacos        9.25
3750                         Carnitas Salad        8.99
1132                    Carnitas Salad Bowl       11.89
237                     Carnitas Soft Tacos        9.25
4                              Chicken Bowl        8.49
16                          Chicken Burrito        8.49
11                     Chicken Crispy Tacos        8.75
250                           Chicken Salad       10.98
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
40                                    Chips        2.15
0              Chips and Fresh Tomato Salsa        2.39
10                      Chips and Guacamole        4.45
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
191      Chips and Roasted Chili-Corn Salsa        2.39
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
520                            Crispy Tacos        7.40
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
1414                                  Salad        7.40
6                             Side of Chips        1.69
54                               Steak Bowl        8.99
7                             Steak Burrito       11.75
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
281                        Steak Salad Bowl       11.89
8                          Steak Soft Tacos        9.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [111]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

#chipo.groupby("item_name").sort_values("item_price",ascending=False)
#chipo[["item_name","item_price"]].sort_values("item_price",ascending=False)

In [117]:
most_expensive_item = chipo[["item_name","quantity"]][chipo["item_price"]==chipo["item_price"].max()]
most_expensive_item.groupby("item_name").sum().sort_values("quantity",ascending=False).head(1)

                  quantity
item_name
Steak Salad Bowl        10

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [120]:
len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [121]:
len(chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"]>1) ])

20