# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
col1 = pd.Series(np.random.randint(1,4,100))
col2 = pd.Series(np.random.randint(1,3,100))
col3 = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([col1,col2,col3],axis=1)
df

    0  1      2
0   1  2  14802
1   2  2  28764
2   2  1  27645
3   2  1  11896
4   1  2  15292
.. .. ..    ...
95  1  1  24658
96  1  1  13849
97  2  2  10790
98  2  2  16531
99  2  2  25768

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
df = df.rename(columns={0:"bedrs",
                       1:"bathrs",
                       2:"price_sqr_meter"})
df

    bedrs  bathrs  price_sqr_meter
0       1       2            14802
1       2       2            28764
2       2       1            27645
3       2       1            11896
4       1       2            15292
..    ...     ...              ...
95      1       1            24658
96      1       1            13849
97      2       2            10790
98      2       2            16531
99      2       2            25768

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [8]:
df = pd.concat([col1,col2,col3],axis=0)
df

0         1
1         2
2         2
3         2
4         1
      ...
95    24658
96    13849
97    10790
98    16531
99    25768
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [11]:
len(df) # no

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [12]:
df.reset_index(drop=True)

0          1
1          2
2          2
3          2
4          1
       ...
295    24658
296    13849
297    10790
298    16531
299    25768
Length: 300, dtype: int32