# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {
    'evolution':["Ivysaur","Charmeleon","Wartortle","Metapod"],
    'hp':[45,39,44,45],
    'name':["Bulbasaur","Charmander","Squirtle","Caterpie"],
    'pokedex':["yes","no","yes","no"],
    'type':["grass","fire","water","bug"]
}

### Step 3. Assign it to a variable called pokemon

In [10]:
df = pd.DataFrame(data)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [12]:
df = df[["name","type","hp","evolution","pokedex"]]
df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [13]:
column = pd.Series(data=[1,2,3,4])
df["mcol"] = column
df

         name   type  hp   evolution pokedex  mcol
0   Bulbasaur  grass  45     Ivysaur     yes     1
1  Charmander   fire  39  Charmeleon      no     2
2    Squirtle  water  44   Wartortle     yes     3
3    Caterpie    bug  45     Metapod      no     4

### Step 6. Present the type of each column

In [14]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
mcol          int64
dtype: object

### BONUS: Create your own question and answer it.

In [18]:
# rename the created column and set it as index

df = df.rename(columns={'mcol':'col'})
df = df.set_index("col")
df

           name   type  hp   evolution pokedex
col
1     Bulbasaur  grass  45     Ivysaur     yes
2    Charmander   fire  39  Charmeleon      no
3      Squirtle  water  44   Wartortle     yes
4      Caterpie    bug  45     Metapod      no